[project]
	description = test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arungrover
[access "refs/for/refs/*"]
	read = group user/arungrover
	push = group user/arungrover
	label-Code-Review = -2..+2 group user/arungrover
	label-Verified = -1..+1 group user/arungrover
	rebase = group user/arungrover
	removeReviewer = group user/arungrover
	submit = group user/arungrover
[access "refs/heads/*"]
	read = group user/arungrover
	create = group user/arungrover
	push = +force group user/arungrover
	pushMerge = group user/arungrover
[access "refs/tags/*"]
	push = group user/arungrover
	push = +force group user/arungrover
